body {
    background-color: #fff2cc;
    font-family: 'Roboto', sans-serif;
}

header {
    padding-left: 20%;
    text-transform: uppercase;
    border-bottom: 1px solid #a47551;
}

main {
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, p {
    color: #29190e; 
}