body {
    background-color: #fff2cc;
}

header {
    padding-left: 20%;
    font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    border-bottom: 1px solid #a47551;
}

main {
    font-family: 'Tajawal', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, p {
    color: #29190e; 
}